@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base{
  body{
    @apply font-[Raleway];
    font-weight: bold; 
  }
  li{
    @apply px-4;
    @apply cursor-pointer
  }
}


.lgo {
  transform: scale(1);
  transition: transform .2s ease-in-out;
}

.lgo:hover {
  transform: scale(1.5);
}


.work-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.work-div:hover{
  background-image: linear-gradient(
    to right,
    rgba(64, 57, 57, 0.8),
    hsla(0, 0%, 0%, 0.8))
  !important;
}


